.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
    background-color: darkslategray;
}

.wholeMaze {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(47, 102, 93);
    border: 2px solid rgb(59, 68, 66);
    border-radius: 8px;
}

.wholeMaze > * {
    margin: 40px;
}

.mazeSpacer {
    height: 120px;
}

.robot {
    position: absolute;
    z-index: 2;
}

.mazeCanvas {
    position: absolute;
    z-index: 1;
}

.tile {
    background-color: gray;
}

.tile.path {
    background-color: rgb(228, 255, 224);
}

.tile.target {
    background-color: green;
}

.wall {
    background-color: black;
}

.wall.hidden {
    background-color: dimgray;
}

.wall.no_wall {
    background-color: lightgrey;
}

.btn.play {
    margin: 10px;
}

